/* You can add global styles to this file, and also import other style files */
.itemMargin {
    margin-left: 25px;
    margin-top: 10px;
}

.field {
    margin-right: 25px;
}

td { 
    padding: 10px;
}

table { 
    border-spacing: 10px;
    border-collapse: separate;
}
